@font-face {
    font-family: "Garet-Book";
    src: url(/fonts/garet/Garet-Book.ttf) format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aleo-Bold";
    src: url(/Aleo/static/Aleo-Bold.ttf) format('truetype');

    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    color: #500000;
    font-family: 'Garet-Book', sans-serif;
    background-color: #000;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    padding: 0;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-shadow: 1px 2px 2px #fff;
}

p{
    font-size: 20px;
}

.home{
    display: flex;
    align-items: center;
    gap: 40px;
}

.home li{
    width: 250px;
    height: 70px;
}

.titulo{
    margin: 30px;
    font-size: 34px;
    font-family: 'Aleo-Bold' , sans-serif;
    justify-self: center;
    display: flex;
    gap: 50px;
}

.reciente{
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,1),rgb(80, 0, 0,1));
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: .3s ease;
    background-color: rgb(80, 0, 0);
    color: #fff;
}

.desplegable1{
    display: none;
    position: absolute;
    margin-top: 1.5vw;
    color: #fff;
    z-index: 999;
}

.desplegable1 li{
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: .3s ease;
    background-color: rgb(80, 0, 0);
    color: #fff;
}

.desplegable1 li:hover{
    background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1));
    color: #000;
    transition: .3s ease;
}

.desplegable1 > li{
    width: 250px;
    transform: translateX(-23px);
    border-bottom: solid 1px #fff;
    text-align: center;

}

.reciente:hover > .desplegable1{
    display: block;
}

.personajes{
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,1),rgb(80, 0, 0,1));
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: .3s ease;
    background-color: rgb(80, 0, 0);
    color: #fff;
}

.desplegable2{
    display: none;
    position: absolute;
    margin-top: 1.5vw;
    color: #fff;
    z-index: 999;
}

.desplegable2 li{
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: .3s ease;
    background-color: rgb(80, 0, 0);
    color: #fff;
}

.desplegable2 li:hover{
    background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1));
    color: #000;
    transition: .3s ease;
}

.desplegable2 > li{
    width: 250px;
    transform: translateX(-23px);
    border-bottom: solid 1px #fff;
    text-align: center;
}

.personajes:hover > .desplegable2{
    display: block;
}

.temas{
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,1),rgb(80, 0, 0,1));
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: .3s ease;
    background-color: rgb(80, 0, 0);
    color: #fff;
}

.desplegable3{
    display: none;
    position: absolute;
    margin-top: 1.5vw;
    color: #fff;
    z-index: 999;
}

.desplegable3 li{
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: .3s ease;
    background-color: rgb(80, 0, 0);
    color: #fff;
}

.desplegable3 li:hover{
    background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1));
    color: #000;
    transition: .3s ease;
}

.desplegable3 > li{
    width: 250px;
    transform: translateX(-23px);
    border-bottom: solid 1px #fff;
    text-align: center;
}

.temas:hover > .desplegable3{
    display: block;
}

.proximos{
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,1),rgb(80, 0, 0,1));
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: .3s ease;
    background-color: rgb(80, 0, 0);
    color: #fff;
}

.desplegable4{
    display: none;
    position: absolute;
    margin-top: 1.5vw;
    color: #fff;
    z-index: 999;
}

.desplegable4 li{
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: .3s ease;
    background-color: rgb(80, 0, 0);
    color: #fff;
}

.desplegable4 li:hover{
    background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1));
    color: #000;
    transition: .3s ease;
}

.desplegable4 > li{
    width: 250px;
    transform: translateX(-23px);
    border-bottom: solid 1px #fff;
    text-align: center;
}

.proximos:hover > .desplegable4{
    display: block;
}

.mundo{
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,1),rgb(80, 0, 0,1));
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: .3s ease;
    background-color: rgb(80, 0, 0);
    color: #fff;
}

.desplegable5{
    display: none;
    position: absolute;
    margin-top: 1.5vw;
    color: #fff;
    z-index: 999;
}

.desplegable5 li{
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: .3s ease;
    background-color: rgb(80, 0, 0);
    color: #fff;
}

.desplegable5 li:hover{
    background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1));
    color: #000;
    transition: .3s ease;
}

.desplegable5 > li{
    width: 250px;
    transform: translateX(-23px);
    border-bottom: solid 1px #fff;
    text-align: center;
}

.mundo:hover > .desplegable5{
    display: block;
}

  



h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Aleo-Bold' , sans-serif;
    color: #fff;
}

.intro{
    text-align: center;
    color: #fff;
}

.galeria{
    display: flex;
    gap: 70px;
    margin-top: 30px;
   justify-content: center;
}


.estacion:hover{
    transform: scale(1.1);
    transition: .3s ease;
}

.estacion:hover .img5:hover{
    filter: sepia(0%);
}

.estacion:hover .caja1:hover{
    background-color: #fff500;
    color: #000;
}

.img5{
    border-radius: 10px;
    filter: sepia(50%);
    object-fit: cover;
}

.caja1{
    font-size: 25px;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    font-family: 'Aleo-Bold' , sans-serif;
    background-color: rgb(255, 245, 0,0.5);
    border-radius: 50px;
}

.caja1-1{
    font-size: 20px;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 10px 10px 0 10px;
}

.caja2{
    font-size: 15px;
    color: #fff;
    text-align: center;
    max-width: 300px;
    padding: 0 10px 10px 10px;
}











.caja3{
    margin: 10px 0;
}

.pie{
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    font-size: 15px;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,1),rgb(80, 0, 0,1));
    margin-top: 30px;
    justify-content: center;
}

.referencias{
    margin: 30px;
    width: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.referencias ul li{
    list-style: none;
    justify-content: center;
    display: flex;
    margin-top: 10px;

}

.referencias ul li a{
    color: #fff;
    text-decoration: none;
}

.recomendaciones{
    text-align: center;
}

.recomendaciones img{
    width: 100px;
    height: 100px;
    margin: 30px 30px 0px 30px ;
    border-radius: 10px;
}

.recomendaciones img:hover{
    transform: scale(1.1);
    transform: rotate(-3deg);
    transition: .3s ease;
}

h4{
    text-align: center;
}

.ultimo{
    margin: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}







@media(max-width: 400px){

.titulo{
    gap: 30px;
}

.titulo h1{
    font-size: 25px;
}

p{
    font-size: 7px;
}

.home{
    gap: 10px;
}


.home li{
    width: 60px;
    height: 40px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desplegable1 > li{
    width: 70px;
    transform: translateX(0px);
    transform: translateY(190%);

}

.desplegable2 > li{
    width: 70px;
    transform: translateX(0px);
    transform: translateY(190%);

}

.desplegable3 > li{
    width: 70px;
    transform: translateX(0px);
    transform: translateY(240%);

}

.desplegable4 > li{
    width: 70px;
    transform: translateX(0px);
    transform: translateY(240%);

}

.desplegable5 > li{
    width: 70px;
    transform: translateX(0px);
    transform: translateY(190%);

}






h2{
    font-size: 15px;
}

.galeria{
    flex-wrap: wrap;
}











.pie{
    gap: 15px;
    margin-top: 15px;
}

.referencias{
    width: 300px;
    font-size: 15px;
    flex-direction: row;
    gap: 20px;
    margin: 0;
}

ul{
    display: flex;
}

.referencias ul{
    font-size: 15px;
    flex-direction: row;
    gap: 20px;
}

.referencias ul li{
    margin: 0;
    align-items: center;
}

.referencias img{
    width: 15px;
    height: 15px;
}

.ultimo{
    width: 300px;
    font-size: 8px;
    margin: 0 0 30px 0;
    justify-content: center;
    align-items: center;
}

.recomendaciones img{
    width: 50px;
    height: 50px;
}

.recomendaciones{
    font-size: 10px;
}

.agregado{
    padding: 30px;
    top: 40px;
}

.agregado h2{
    font-size: 30px;
    margin-bottom: 10px;
}

}